body {
	margin: 15px;
	font-family: sans-serif
}

h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 1rem;
}

#chat {
	background: rgb(245, 245, 245);
	height: 30px;
	width: calc(100% - 20px);
	max-width: 620px;
	border: 1px solid gray;
	margin-bottom: 10px;
	padding: 10px;
	overflow-y: auto;
	overflow-y: scroll;
}

#content {
	width: 100%;
}

#button {
	height: 200px;
	width: calc(95% - 20px);
	max-width: 590px;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

#button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

#button:active {
	position:relative;
	top:1px;
}

#controls {
	display: grid;
	width: calc(100%);
	max-width: 642px;
}

#controls input {
	padding: 8px 5px;
}